@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url("../fonts/source-sans-pro.woff2") format("woff2"), url("../fonts/source-sans-pro.woff") format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans.woff2") format("woff2"), url("../fonts/open-sans.woff") format("woff");
}

@media (prefers-color-scheme: dark) {
  :root :focus {
    outline: solid 1px #eee;
  }
  ::-moz-selection {
    background: #2c4a6b;
    color: #eee;
  }
  ::selection {
    background: #2c4a6b;
    color: #eee;
  }
  html {
    background: #202731;
    color: #eee;
  }
  a {
    color: #eee;
    text-decoration: none;
  }
  a:visited {
    color: #2c4a6b;
  }
  nav .item {
    color: #eee;
    text-decoration: none;
    text-transform: uppercase;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#eee));
    background-image: linear-gradient(#eee, #eee);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 0% 2px;
    -webkit-transition: background-size 500ms ease-in-out;
    transition: background-size 500ms ease-in-out;
  }
  nav .item:hover {
    background-size: 100% 2px;
  }
  nav .item:active {
    border-bottom: 2px solid #eee;
  }
  nav .item[aria-current] {
    border-bottom: 2px solid #eee;
  }
  .menu span, .menu span:before, .menu span:after {
    background: #eee;
  }
  .legal a {
    color: #eee;
  }
  .details p {
    font-size: 1em;
  }
  .details p .icon {
    width: 1em;
    height: 1em;
    fill: #eee;
  }
  .details p a {
    text-decoration: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#eee));
    background-image: linear-gradient(#eee, #eee);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 0% 2px;
    -webkit-transition: background-size 500ms ease-in-out;
    transition: background-size 500ms ease-in-out;
  }
  .details p a:hover {
    background-size: 100% 2px;
  }
  hr {
    color: #eee;
  }
}

@media only screen and (prefers-color-scheme: dark) and (max-width: 1025px) {
  .menu {
    fill: #eee;
  }
}

@media (prefers-color-scheme: dark) {
  .star {
    fill: #eee;
  }
  .contact {
    fill: #eee;
  }
  .contact .whatsapp {
    fill: #dcf8c6;
  }
  .contact .viber {
    fill: #e2d4e7;
  }
  .contact .discord {
    fill: #99aab5;
  }
  .facebook {
    fill: #eee;
  }
  .twitter {
    fill: #e1e8ed;
  }
  .linkedin {
    fill: #caccce;
  }
  .youtube {
    fill: #eee;
  }
  .instagram {
    fill: #eee;
  }
  .github {
    fill: #f5f5f5;
  }
}
