body {
  margin: 0 auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr auto 0.75fr;
      grid-template-rows: 1fr auto 0.75fr;
      grid-template-areas: "header" "main" "footer";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  width: 100%;
  padding: 0.5em 0;
}

.navigation {
  margin: 0 auto;
  padding: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto auto;
      grid-template-columns: 1fr auto auto;
      grid-template-areas: "logo navigation navigation";
}

nav {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: navigation;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav .menu-item {
  margin: 1em;
  padding: 0.25em;
  text-transform: uppercase;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 2px;
  -webkit-transition: background-size 500ms ease-in-out;
  transition: background-size 500ms ease-in-out;
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  width: 10vw;
  margin: 0.25em;
}

#nav-switch, .menu, .menu-checkbox {
  display: none;
}

.menu {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 1em;
  height: 1em;
  cursor: pointer;
}

.menu span, .menu span:before, .menu span:after {
  position: absolute;
  width: 2em;
  height: 4px;
  border-radius: 0.2em;
}

.menu span {
  margin: 0.25em;
}

.menu span:after, .menu span:before {
  content: '';
  left: 0;
}

.menu span:before {
  top: -8px;
}

.menu span:after {
  top: 8px;
}

.menu-checkbox:checked + .menu:after {
  content: '';
}

.menu-checkbox:checked + .menu span {
  height: 0;
  width: 0;
}

.menu-checkbox:checked + .menu span:before, .menu-checkbox:checked + .menu span:after {
  top: 6px;
}

.menu-checkbox:checked + .menu span:before {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.menu-checkbox:checked + .menu span:after {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

@media (max-width: 1025px) {
  .menu {
    display: inline-block;
  }
  nav {
    display: none;
  }
  .logo {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    margin: 0.25em;
  }
  #nav-switch:checked ~ nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row-align: center;
        align-self: center;
  }
}

main {
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 5em auto;
      grid-template-rows: 5em auto;
}

h1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / span 6;
  -ms-grid-row: 1;
  grid-row: 1;
}

section {
  grid-row: auto;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / span 6;
}

.cover {
  height: 95vh;
  text-align: center;
}

.headline {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.subheadline {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / span 6;
}

.button {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / span 6;
}

.cta {
  padding: 1.5em;
  border-radius: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1em;
}

.portfolio .learnmore {
  padding: .5em;
  border-radius: .5rem;
}

.portfolio .project {
  margin: .25em;
}

.single-project {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 1em;
  margin-top: 1em;
}

.returnback {
  padding: 1em;
  margin-bottom: 1em;
}

.details p {
  font-size: 1em;
}

.details p strong {
  text-transform: uppercase;
}

.details p a {
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 2px;
  -webkit-transition: background-size 500ms ease-in-out;
  transition: background-size 500ms ease-in-out;
}

.details p a:hover {
  background-size: 100% 2px;
}

.contact-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 1em;
}

label {
  font-weight: bold;
}

fieldset {
  width: 100%;
  padding: 1em;
  margin: 0.1em;
}

input, textarea {
  width: 90%;
  padding: 0.25em;
}

button {
  padding: 1.5rem;
  border-radius: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}

.contact {
  padding-right: 1em;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr .75fr 1fr;
      grid-template-columns: 1fr .75fr 1fr;
      grid-template-areas: "legal social copyright";
  margin: 1.5em;
}

.legal {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: legal;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.legal a {
  padding: 1rem;
  text-transform: uppercase;
  text-decoration: none;
}

@media only screen and (max-width: 1025px) {
  .legal a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: .75rem;
  }
}

.social {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: social;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.social a {
  text-decoration: none;
  padding: 0.5em;
}

.social .icon {
  width: 1em;
  height: 1em;
  padding: 0.5em;
}

.copyright {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: copyright;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: right;
}
