:root {
  --color-mode: "light";
  --background: var(--color-light);
  --text-color: var(--color-dark);
  --dark: var(--color-dark);
  --light: var(--color-light);
  --accent: var(--color-blue);
  --grey: var(--color-grey);
  --link: var(--color-blue);
  --link-visited: var(--color-dark-blue);
  --button-background-default: var(--color-blue);
  --button-color-default: var(--color-light);
  --button-background: var(--color-dark);
  --button-color: var(--color-light);
  --border-color: var(--color-dark-alpha);
  --button-icon: var(--icon-moon);
  --button-icon-filter: var(--icon-moon-filter);
  --facebook: var(--facebook-light);
  --twitter: var(--twitter-light);
  --linkedin: var(--linkedin-light);
  --instagram: var(--instagram-light);
  --youtube: var(--youtube-light);
  --github: var(--github-light);
  --reddit: var(--reddit-light);
  --discord: var(--discord-light);
  --whatsapp: var(--whatsapp-light);
  --viber: var(--viber-light);
  --other-icons: var(--color-dark);
}

:root :focus {
  outline: solid 1px var(--dark);
}

::-moz-selection {
  background: var(--background);
  color: var(--text-color);
}

::selection {
  background: var(--background);
  color: var(--text-color);
}

body {
  background: var(--background);
  color: var(--text-color);
}

a {
  color: var(--link);
}

a:visited {
  color: var(--link-visited);
}

nav .menu-item {
  color: var(--text-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--text-color)), to(var(--text-color)));
  background-image: linear-gradient(var(--text-color), var(--text-color));
}

nav .menu-item[aria-current] {
  border-bottom: 2px solid var(--text-color);
}

.menu span, .menu span:before, .menu span:after {
  background: var(--text-color);
}

.legal a {
  color: var(--text-color);
}

.cta, .returnback {
  background: var(--accent);
  color: var(--light);
}

.cta:visited, .returnback:visited {
  color: var(--light);
}

.portfolio .learnmore {
  background: var(--accent);
  color: var(--light);
}

.details .icon {
  fill: var(--other-icons);
}

.details a {
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--dark)), to(var(--dark)));
  background-image: linear-gradient(var(--dark), var(--dark));
}

input, textarea {
  background-color: var(--light);
  color: var(--grey);
}

button {
  background: var(--button-background-default);
  color: var(--button-color-default);
}

.star, .mail, .phone {
  fill: var(--other-icons);
}

.facebook {
  fill: var(--facebook);
}

.twitter {
  fill: var(--twitter);
}

.linkedin {
  fill: var(--linkedin);
}

.youtube {
  fill: var(--youtube);
}

.instagram {
  fill: var(--instagram);
}

.github {
  fill: var(--github);
}

.reddit {
  fill: var(--reddit);
}

.whatsapp {
  fill: var(--whatsapp);
}

.viber {
  fill: var(--viber);
}

.discord {
  fill: var(--discord);
}
