main {
  width: 100%;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 5em auto;
      grid-template-rows: 5em auto;
}

h1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / span 6;
  -ms-grid-row: 1;
  grid-row: 1;
}

section {
  grid-row: auto;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / span 6;
}
