/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}

.switch.disabled input:checked + .slider {
  opacity: 0.5;
  background-color: var(--color-blue);
}

.cm-app-input:checked + .cm-app-label .slider {
  background-color: var(--color-blue);
}

.cm-app-input.required:checked + .cm-app-label .slider {
  opacity: 0.8;
  background-color: var(--color-green);
  cursor: not-allowed;
}

.slider {
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.cm-app-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 50px;
  height: 30px;
}

.cm-app-label {
  /* The slider */
  /* Rounded sliders */
}

.cm-app-label .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  width: 50px;
  display: inline-block;
}

.cm-app-label .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.cm-app-label .slider.round {
  border-radius: 30px;
}

.cm-app-label .slider.round:before {
  border-radius: 50%;
}

.cm-app-label input:focus + .slider {
  -webkit-box-shadow: 0 0 1px var(--color-blue);
          box-shadow: 0 0 1px var(--color-blue);
}

.cm-app-label input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

.cm-app-input:focus + .cm-app-label .slider {
  -webkit-box-shadow: 0 4px 6px 0 rgba(125, 125, 125, 0.2), 5px 5px 10px 0 rgba(125, 125, 125, 0.19);
          box-shadow: 0 4px 6px 0 rgba(125, 125, 125, 0.2), 5px 5px 10px 0 rgba(125, 125, 125, 0.19);
}

.cm-app-input:checked + .cm-app-label .slider {
  background-color: var(--color-blue);
}

.cm-app-input:checked + .cm-app-label .slider:before {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}
