.visually-hidden {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(1px);
          clip-path: inset(1px);
  white-space: nowrap;
  position: absolute;
}

.no-js .user-toggle {
  display: none;
}

.user-toggle {
  margin: 1em auto 0 auto;
  padding-top: 1em;
  max-width: 10em;
  text-align: center;
}

.toggle-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: var(--button-background);
  color: var(--button-color);
  border: none;
  padding: 0.5em 1em;
  -webkit-transition: background 500ms ease-in-out, color 200ms ease;
  transition: background 500ms ease-in-out, color 200ms ease;
}

.toggle-button :focus {
  outline: 1px solid var(--button-background);
  outline-offset: 0.5em;
}

.toggle-button__icon {
  background: var(--button-icon);
  width: 1em;
  height: 1em;
  margin: 0 0 0 0.5em;
  -webkit-filter: var(--button-icon-filter);
          filter: var(--button-icon-filter);
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-transition: -webkit-filter 500ms ease-in-out;
  transition: -webkit-filter 500ms ease-in-out;
  transition: filter 500ms ease-in-out;
  transition: filter 500ms ease-in-out, -webkit-filter 500ms ease-in-out;
}
