@media (prefers-color-scheme: dark) {
    
    :root {
        
        :focus {
            outline: solid 1px var(--color-light);
        }

        --color-mode: "dark";
    }

    ::selection {
        background: var(--background);
        color: var(--text-color);
    }
  
    :root:not([data-user-color-scheme]) {
        --background: var(--color-dark);
        --text-color: var(--color-light);
        --button-icon: var(--icon-sun);
        --button-icon-filter: var(--icon-sun-filter);
        --button-background: var(--color-light);
        --button-color: var(--color-dark);
        --border-color: var(--color-light-alpha);
    }

    a {
        color: var(--color-light);
        text-decoration: none;
    
        &:visited {
            color: var(--color-link-visited-dark);
        }
    }

    hr {
        color: var(--color-light);
    }

    nav {
        .menu-item {
            background-image: linear-gradient(var(--color-light), var(--color-light));
    
            &[aria-current] {
                border-bottom: 2px solid var(--color-light);
            }
        }
    
    }
    
    .menu {
        
        span, span:before, span:after {
            background: var(--color-light);
        }
    }

    .legal {

        a {
            color: var(--color-light);
        }
    }
    
    .cta {
        background: var(--color-accent);
        color: var(--color-light);
    
        &:visited {
            color: var(--color-light);
        }
    }
    
    .portfolio {
    
        .learnmore {
            background: var(--color-accent);
            color: var(--color-light);
        }
    }
    
    .returnback {
        color: var(--color-light);
        background: var(--color-accent);
    
        &:visited {
            color: var(--color-light);
        }
    }
    
    .details {
    
        .icon {
            fill: var(--color-light);
        }
    
        a {
            background-image: linear-gradient(var(--color-light), var(--color-light));
        }
    }
    
    input, textarea {
        background-color: var(--color-light);
        color: var(--color-secondary-dark);
    }
    
    button {
        background: var(--color-accent);
        color: var(--color-light);
    }
    
    .star {
        fill: var(--color-light);
        padding-left: 1em;
    }
    
    .contact {
        fill: var(--color-light);
        padding-right: 1em;
    }
    

}
  
[data-user-color-scheme="dark"] {
    --background: var(--color-dark);
    --text-color: var(--color-light);
    --button-icon: var(--icon-sun);
    --button-icon-filter: var(--icon-sun-filter);
    --button-background: var(--color-light-alpha);
    --button-color: var(--color-dark);
    --border-color: var(--color-light-alpha);
    a {
        color: var(--color-light);
        text-decoration: none;
    
        &:visited {
            color: var(--color-link-visited-dark);
        }
    }

    hr {
        color: var(--color-light);
    }

    nav {
        .menu-item {
            background-image: linear-gradient(var(--color-light), var(--color-light));
    
            &[aria-current] {
                border-bottom: 2px solid var(--color-light);
            }
        }
    
    }
    
    .menu {
        
        span, span:before, span:after {
            background: var(--color-light);
        }
    }

    .legal {

        a {
            color: var(--color-light);
        }
    }
    
    .cta {
        background: var(--color-accent);
        color: var(--color-light);
    
        &:visited {
            color: var(--color-light);
        }
    }
    
    .portfolio {
    
        .learnmore {
            background: var(--color-accent);
            color: var(--color-light);
        }
    }
    
    .returnback {
        color: var(--color-light);
        background: var(--color-accent);
    
        &:visited {
            color: var(--color-light);
        }
    }
    
    .details {
    
        .icon {
            fill: var(--color-light);
        }
    
        a {
            background-image: linear-gradient(var(--color-light), var(--color-light));
        }
    }
    
    input, textarea {
        background-color: var(--color-light);
        color: var(--color-secondary-dark);
    }
    
    button {
        background: var(--color-accent);
        color: var(--color-light);
    }
    
    .star {
        fill: var(--color-light);
        padding-left: 1em;
    }
    
    .contact {
        fill: var(--color-light);
        padding-right: 1em;
    }
}