@import "vars";
// Dark Mode
@media (prefers-color-scheme: dark) {
    // Basics
    :root {
        :focus {
            outline: solid 1px $primarydark;
        }
    }
    ::selection {
        background: $secondarydark;
        color: $primarydark;
    }
    html {
        background: $bgdark;
        color: $primarydark;
    }
    // Navigation
    nav {
        .item {
            color: $primarydark;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient($primarydark, $primarydark);
            background-repeat: no-repeat;
            background-position: bottom left;
            background-size: 0% 2px;
            transition: background-size 500ms ease-in-out;
            &:hover {
                background-size: 100% 2px;
            }
            &:active {
                border-bottom: 2px solid $primarydark;
            }
        }
    }
    // Footer navigation
    .legal {
        a {
            color: $primarydark;
        }
    }
    // Spacing
    hr {
        color: $primarydark;
    }
    // Menu icon inverted
    @media only screen and (max-width: 1025px) {
        .menu {
            filter: invert(100%);
        }
    }
    // Star Icon
    .star {
        fill: $primarydark;
    }
    // Social Media Icons
    .facebook {
        fill: $darkicons;
    }
    .twitter {
        fill: $twitterdark;
    }
    .linkedin {
        fill: $linkedindark;
    }
    .youtube {
        fill: $darkicons;
    }
    .instagram {
        fill: $darkicons;
    }
    .github {
        fill: $githubdark;
    }
}