@import 'variables/fonts';
@import 'variables/colors';
@import 'variables/icons';

* {
    &:before, &:after {
        transition: all .5s;
    }
}

:root {
    :focus {
        outline: solid 1px $dark;
    }
    --color-dark: #{$dark};
    --color-dark-alpha: #{$dark-alpha};
    --color-light: #{$light};
    --color-light-alpha: #{$light-alpha};
    --color-secondary: #{$secondary};
    --color-dark-secondary: #{$secondary-dark};
    --color-link: #{$links};
    --color-link-visited: #{$links-visited};
    --color-link-visited-dark: #{$links-visited-dark};
    --color-accent: #{$accent};
    --color-secondary-darken: #{$secondary-darken};

    --icon-sun: #{$sun};
    --icon-moon: #{$moon};
    --icon-sun-filter: #{$sun-filter};
    --icon-moon-filter: #{$moon-filter};

    --background: #{$light};
    --text-color: #{$dark};
    --button-icon: var(--icon-moon);
    --button-icon-filter: var(--icon-moon-filter);
    --button-background: var(--color-dark);
    --button-color: var(--color-light);
    --border-color: var(--color-dark-alpha);
}

html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

strong {
    font-weight: 600;
}

img {
    width: 100%;
    max-width: 100%;
}

hr {
    margin: 1.5em 0;
}