// Colors
$bg: #eee;
$primary: #222831;
$secondary: #343e49;
$accent: #08759a;
$links: #08759a;
$linksvisited: #13566d;
// Dark Mode Colors
$bgdark: $primary;
$primarydark: $bg;
$secondarydark: #2c4a6b;
$linksdark: $bg;
// Brand Colors
$facebook: #3b5998;
$twitter: #1da1f2;
$twitterdark: #e1e8ed;
$linkedin: #0077b5;
$linkedindark: #caccce;
$instagram: #e1306c;
$youtube: #ff0000;
$github: #333;
$githubdark: #f5f5f5;
$darkicons: $bg;
$whatsapp: #075e54;
$whatsappdark: #dcf8c6;
$viber: #59267c;
$viberdark: #e2d4e7;
$discord: #7289da;
$discorddark: #99aab5;