// Fonts
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro Regular'),
         local('SourceSansPro-Regular'),
         url('../fonts/source-sans-pro.woff2') format('woff2'),
         url('../fonts/source-sans-pro.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), 
         local('OpenSans-Regular'),
         url('../fonts/open-sans.woff2') format('woff2'),
         url('../fonts/open-sans.woff') format('woff');
}
// Colors
$bg: #eee;
$primary: #202731;
$secondary: #393d46;
$accent: #08759a;
$links: #08759a;
$linksvisited: #13566d;
// Dark Mode Colors
$bgdark: #202731;
$primarydark: $bg;
$secondarydark: #2c4a6b;
$linksdark: $bg;
// Brand Colors
$facebook: #3b5998;
$twitter: #1da1f2;
$twitterdark: #e1e8ed;
$linkedin: #0077b5;
$linkedindark: #caccce;
$instagram: #e1306c;
$youtube: #ff0000;
$github: #333;
$githubdark: #f5f5f5;
$darkicons: $bg;
$whatsapp: #075e54;
$whatsappdark: #dcf8c6;
$viber: #59267c;
$viberdark: #e2d4e7;
$discord: #7289da;
$discorddark: #99aab5;