$light: #eee;
$dark: #202731;
$grey: #393d46;
$blue: #193ea5;
$light-blue: #17a3d1;
$dark-blue: #0b0980;
$green: #026928;
$red: #ba1e04;

$dark-alpha: rgba(32, 39, 49, 0.1);
$light-alpha: rgba(238, 238, 238, 0.9);

$facebook: #3b5998;
$twitter: #1da1f2;
$twitter-dark: #e1e8ed;
$linkedin: #0077b5;
$linkedin-dark: #caccce;
$instagram: #e1306c;
$youtube: #ff0000;
$github: #333;
$github-dark: #f5f5f5;
$dark-icons: #eee;
$whatsapp: #075e54;
$whatsapp-dark: #dcf8c6;
$viber: #59267c;
$viber-dark: #e2d4e7;
$discord: #7289da;
$discord-dark: #99aab5;
$reddit: #ff4500;
$reddit-dark: #5f99cf;

$box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 5px 5px 10px 0 rgba(0, 0, 0, 0.19);
$border-radius: .5em;
$border-dark: 1px solid #555;