$light: #eeeeee;
$light-alpha: rgba(238, 238, 238, 0.9);
$dark: #202731;
$dark-alpha: rgba(32, 39, 49, 0.1);
$secondary: #393d46;
$secondary-dark: #2c4a6b;
$accent: #08759a;
$links: #4cb2d4;
$links-visited: lighten($links, 10%);
$accept: #026928;
$decline: #BA1E04;
$box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 5px 5px 10px 0 rgba(0, 0, 0, 0.19);
$border-radius: .5em;
$border-dark: 1px solid #555;