@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro Regular'),
         local('SourceSansPro-Regular'),
         url('../fonts/source-sans-pro.woff2') format('woff2'),
         url('../fonts/source-sans-pro.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), 
         local('OpenSans-Regular'),
         url('../fonts/open-sans.woff2') format('woff2'),
         url('../fonts/open-sans.woff') format('woff');
}