.cover {
    height: 95vh;
    text-align: center;
}

.headline {
    grid-row: 1;
    align-self: center;
    align-self: end;
}

.subheadline {
    grid-row: 2;
    grid-column: 2 / span 6;
}

.button {
    grid-row: 3;
    grid-column: 2 / span 6;
}

.cta {
    padding: 1.5em;
    border-radius: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}