footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr .75fr 1fr;
    grid-template-areas: "legal social copyright";
    margin: 1.5em;
}

.legal {
    grid-area: legal;
    align-self: center;

    a {
        padding: 1rem;
        text-transform: uppercase;
        text-decoration: none;
    }
}

@media only screen and (max-width: 1025px) {

    .legal {

        a {
            display: inline-flex;
            padding: .75rem;
        }
    }
}

.social {
    grid-area: social;
    align-items: center;
    align-self: center;
    text-align: center;

    a {
        text-decoration: none;
        padding: 0.5em;
    }

    .icon {
        width: 1em;
        height: 1em;
        padding: 0.5em;
    }
}

.copyright {
    grid-area: copyright;
    align-self: center;
    text-align: right;
}